
*{
    box-sizing: border-box;
}




body{
    
margin: 0;

padding: 0;
overflow-x: hidden;
width:100vw;


}





.overlay{
    filter:brightness(75%);
}


footer{
    height: 30vh;
    background-color: #221309; 
}




